.eddb-control {
  font-size: 1rem !important;

  font-family: inherit !important;
  line-height: inherit !important;

  width: 100%;

  border: 1px solid $border-color;
  //box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );

  //border-radius: $border-radius;

  padding: .5rem;
}

.inline-form-control {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;

  label {
    font-weight: bold;
    width: 38%;
    padding: 10px 8px 10px 0;

    flex-shrink: 0;
  }

  & > div {
    width: 62%;
  }

  .vdp-datepicker__calendar {
    width: 100%;
    border: none;
  }
}

.eddb-control-appointment {
  &__header {
    display: flex;
    justify-content: space-between;

    button {
      background-color: white;
      border: none;
      cursor: pointer;
    }

    span {
      color: #000;
    }
  }

  &__body {
    padding-top: .4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .session__item {
      background-color: white;
      border: 1px solid $dark-gray;
      padding: .5rem .85rem;
      width: 30.5%;
      border-radius: $border-radius;
      margin: 4px 0;
      cursor: pointer;

      &.selected {
        color: #fff;
        border: none;
      }
    }
  }
}