.edd-booking-wizard {
  font-family: $font-family;
  color: $black;
  line-height: 1.4;
  background-color: white;

  @import 'wizard-header';
  @import 'wizard-navigation';
  @import 'wizard-footer';

  @import 'buttons';
  @import 'form';

  &__info {
    padding: 1rem;
    border: 1px solid $dark-gray;
    text-align: center;
    margin: 0 0 2rem 0;
  }

  .wizard-footer-back {
    margin-right: 8px;
    background-color: white !important;
    color: $black !important;
    border-color: $dark-gray !important;
  }
}

