.wizard-card-footer {
  border-top: 1px solid $dark-gray;
  padding-top: 1rem;

  .wizard-footer-left {
    width: 60%;
  }

  .wizard-footer-clear {
    padding-bottom: .75rem;
    font-weight: bold;
  }
}