.wizard-header {
  //background-color: $light-gray;
  border-bottom: 1px solid $dark-gray;
  margin-bottom: 15px;
  color: $black;

  font-size: 28px;

  .category {
    display: none;
  }
}