.wizard-navigation {
  .wizard-nav-pills>li>a {
    box-shadow: none !important;
  }

  .wizard-progress-with-circle {
    background-color: $light-gray;
    top: 20px;
    height: 3px;

    &:before, &:after {
      height: 100%;
      //width: (100% / 3 / 2);
      content: '';
      position: absolute;
      display: block;
      background-color: white;
      top: 0;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .wizard-icon-circle {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .active {
    .wizard-icon-circle {
      transform: scale(1) !important;
    }
    .stepTitle {
      opacity: 1;
    }
  }

  .wizard-icon {
    font-style: normal;
    font-size: 16px !important;
    opacity: 0;

    &-circle {
      border: 1px solid $dark-gray;
      background-color: $light-gray;

      transition: transform .3s ease;
      transform: scale(.9);

      &.checked {
        transform: scale(.9);
      }
    }
  }

  .stepTitle {
    opacity: .5;
    padding-top: 10px;
    color: $black !important;
  }
}